/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body,
:root {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    word-break: keep-all;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}